
Richard Kahler
January 21, 1977


	This is a recording of a sample BBD session, illustrating
the Directory, Type, Help and Quit commands.


@version
 SUMEX-AIM Tenex 1.31.73, SUMEX-AIM Exec 1.51.41
@daytime
 FRIDAY, JANUARY 21, 1977 16:42:31
@bbd

   <Sumex bulletin-board>
      Type ? for help

*dir bulletin-board

   <Sumex bulletin-board>
 Bulletin-board, 2-5
    .features, 6-14
    .gripes
    .suggestions, 15
  4 topics, 14 bulletins

*dir bulletin-board,
**author 
**subject 
**

   <Sumex bulletin-board>
         #  Author       Subject
 Bulletin-board
         2  KAHLER       Bulletin-board programs
         3  KAHLER       Bulletin boards at SUMEX-AIM
         4  KAHLER       Topics on this bulletin board
         5  KAHLER       Topic name changes
    .features
         6  KAHLER       "News" command
         7  KAHLER       ^X and ^O in BBD
         8  KAHLER       Editing text in POST
         9  KAHLER       BBD help system
        10  KAHLER       Remarks on ^O
        11  KAHLER       Subcommands in Type
        12  KAHLER       BBD user profiles
        13  KAHLER       New BBD, more commands, sticky subcommands
        14  KAHLER       New Expire command in BBD
 Bulletin-board.suggestions
        15  KAHLER       Suggestions from others
  3 topics, 14 bulletins

*type 13

#13:  (Length 1649)

Date: 21 NOV 1976 0024-PST
From: KAHLER
Subject: New BBD, more commands, sticky subcommands

        The new version of BBD on <subsys> offers some additional
commands and features.

        The Delete, Undelete and Move commands, previously reserved
for bbd managers, are now available to everyone on a your-own-
bulletins-only basis.  You may thus delete and undelete bulletins
that you have posted (those which give you as the author), and move
them from one topic to another.  Deleted bulletins vanish at the next
bulletin-board expunge.

        Some of the subcommands to Directory and Type are now "sticky",
that is, they remain in effect until subcommand mode is entered again
for that command, at which time they are cleared.  The sticky
subcommands for Type are those which affect the format of the bulletin
typed, namely "message-format" and "topic-name".  The sticky subcommands
for Directory are the ones that print per-bulletin information, namely
"author", "creation-date", "everything", "expire-date", "length",
"number-of-reads", "read-date", and "subject".

        The subcommands that affect which bulletins are typed or listed
in the directory, like "new", or "interest-list-only", are not sticky.

        Stickiness remains in force through connections to other bbds.
You may clear the sticky options by requesting subcommands (with a comma
at the end of the command line), and then giving no subcommands.  If
there any questions or gripes about this feature, please send them to me.
I will assume otherwise that people like the idea.

        One additional feature:  BBD will ignore lines beginning with a
semicolon (;).

-------

*help

  (Type ^O to abort typeout)

   BBD is a reader, copier, editor, and manager of bulletin boards.
 Companion programs include POST, the bulletin poster, BBCHECK, a
 "mail check" for bulletin boards, BBNEWS, for directory listings
 of new bulletins, and BBREAD, the bulletin-board READMAIL.
 Descriptions of four BBD commands, and some hints, follow.
 This is important, please read.

   DIRECTORY
 The Directory command gives you a list of all the topics
 on the bulletin board to which you are currently connected.
 Each topic is followed by a list of its bulletins.
 You may type "Directory " and a topic name to see a shorter list.
 Topics may have subtopics and sub-subtopics to any depth.

   TYPE
 You may have bulletins typed out at your terminal, or sent to a file
 or the lineprinter with the Type command.  Find out what bulletins
 you want (with Directory), then ask for them by number,
 e.g. "Type 1", "Type 5-15".

   NEWS
 The News (new bulletins on your interest list) command gives you
 a directory listing of new bulletins on your interest list.
 You must have an interest list on this bulletin-board to get
 any News.  To create that, type "Add *".  For more on interest
 lists and new-bulletin notification, type "Help add".

   CONNECT
 The Connect (to bulletin board) command allows you to switch from
 one bulletin-board to another.  There may be several bulletin-boards
 available, each entirely separate from the others.  One is the main
 bulletin-board, the others are more specialized.  To see a list
 of these, type "Connect ?".

 All bulletin-board commands (except Connect) operate only upon the
 connected bulletin-board, for now.


 Helpful hints:

 Type ^X to abort any command.

 Type ^O to abort typeout.

 Type ? anywhere, especially in the middle of words, to see your
 options at that point.  For example, type "D?" and you will get
 a list of all commands that start with D.

 Type the esc (or altmode) key to obtain recognition of commands,
 topic names and bulletin-board names.   BBD also types out noise
 words for commands when <esc> is typed.

 To leave the program, type "Quit" (Q for short), "Exit", or ^Z.
 They are all equivalent.  Best not to ^C out of BBD.  Type CONTINUE
 to the EXEC to reenter the program.

 For help on any command, type "Help " and the command name.

*help add

 The Add (topic) command is used for adding topics to your "interest
 list".  Your interest list for this bulletin-board is that subset
 of its topics on which you want to keep current.  You may find out
 at any time whether you have new bulletins on your interest list
 with the programs BBCHECK, BBNEWS, or BBREAD, or the News command
 herein, and notices will be sent to your mailbox unless you turn
 that feature off.

 Type "Add ?" to get a list of topics.
 Type "Add *" to add all the topics on this bulletin board.
 Use the Drop (topic) command to drop topics from your list.
 You may have interest lists on as many bulletin-boards as you wish.
 Add and Drop refer only to the connected bulletin-board, for now.

 When you add a topic to your interest list, its subtopics are
 added also.  Any subtopics created after that time are likewise
 added to your interest list.  It is suggested, therefore, that
 you connect to every bulletin board you are interested in and
 type "Add *", then drop anything you aren't interested in,
 so you won't miss newly created topics.

*dir,
**

   <Sumex bulletin-board>
 Announcements
 Awards, 1
 Bulletin-board, 2-5
    .features, 6-14
    .gripes
    .suggestions, 15
 Employment
    .available
    .wanted
 Exec
    .linking, 16-17
    .list, 18
    .login-cmd, 19
    .redirect, 20
    .search-path
 Graphics, 21-22
    .datamedia
    .gt-40
    .plotting, 23
 Human-engineering
 Languages
    .basic
    .fail, 24
    .fortran, 25-31
       ..library, 32-33
    .lisp, 34-49
    .sail
       ..bugs, 50-54
       ..debugging, 55-56
       ..features, 57-58
       ..library, 59-66
    .simula, 67
    .snobol
 Letters-to-sumex-aim, 68
 Network
    .arpanet, 69-70
       ..datacomputer, 71-72
       ..ftp, 73-75
    .tymnet, 76
 Pdp11-gt40, 77-81
 Pub, 82
 Staff
    .consulting, 83
    .vacations
 System
    .batch, 84
    .dial-up, 85
    .disk
       ..allocation, 86
       ..backup, 87-88
    .emulator, 89
    .glossary, 90
    .gripes
    .help, 91
    .jsys, 92-93
    .status, 94-104
    .suggestions
    .tenex-133
 Text-editors
    .sos
    .teco
    .tv, 105-107
 Utilities, 108-109
    .bank, 110-111
    .calendar
       ..calendar, 112
       ..note, 113
       ..pcal
    .directory, 114-122
       ..wdir, 123
    .file
       ..files, 124
       ..ftty, 125
    .finger, 126
    .message
       ..msg, 127-129
       ..msgfix, 130
    .record, 131
    .statistical, 132
    .view, 133-134
 Other
  81 topics, 134 bulletins

*q
@
